.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topnav {
  overflow: hidden;
  background-color: #EF6C00;
  height:45px;
  text-align:center; 
  line-height:45px;
}

.leftMenu{
  top:45px;
  width:25%;
  height:calc(100vh - 45px);
  background-color: rgb(37, 37, 49);
  overflow-y: scroll;
  position:fixed;
}

.rightMenu{
  top:45px;
  left:25%;
  width:75%;
  height:calc(100vh - 90px);
  background-color: #252531;
  overflow-y: scroll;
  position:fixed;
}

.textSpace{
  position:fixed;
  left:25%;
  top:calc(100vh - 45px);
  width:65%;
  height:45px;
}

.sendButton{
  position:fixed;
  left:90%;
  top:calc(100vh - 45px);
  width:10%;
  height:45px;
}

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(105, 98, 98);
}

#style-1::-webkit-scrollbar
{
  height:20px;
	width: 8px;
	background-color: rgb(0, 0, 0);
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(2, 1, 1);
}

.friendSearchBar{
  text-align: center;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.searchIcon{
  line-height: 78px;
  color: rgb(0, 0, 0);
}

.searchField{
  position: relative;
  left: 5px;
  color: #ffffff;
}

.aFriend{
  position: relative;
  width:99%;
  height:75px;
  border-style: solid;
  border-width: 1px;
  color:white;
  border-radius: 8px;
}

.aFriend:hover{
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  position: relative;
  width:99%;
  height:75px;
  border-style: solid;
  border-width: 1px;
  color:rgb(0, 0, 0);
  border-radius: 8px;
}

.profilePic{
  position: absolute;
  top:0;
  left:0;
  width:25%;
  border:tan 1px solid;
  height:100%;
}

.friendName{
  position: absolute;
  top:0;
  left:100px;
  border:tan 1px solid;
  height:50%;

}

.friendLastMessage{
  position: absolute;
  top:50%;
  left:100px;
  border:tan 1px solid;
  height:50%;
}


/*message*/
.messageLeft{
  margin: 25px 25px 35px 25px;
  -webkit-box-shadow: 0px 4px 33px 6px #000000;  
  -moz-box-shadow:    0px 4px 33px 6px #000000; 
  box-shadow:         0px 4px 33px 6px #000000;  
  position: relative;
  background-color: #09f4ff;
  border-radius:8px;
  width:65%;
  padding: 10px 7px 10px 20px;
}

.messageRight{
  margin: 25px 25px 35px 25px;
  -webkit-box-shadow: 0px 4px 33px 6px #000000;  
  -moz-box-shadow:    0px 4px 33px 6px #000000; 
  box-shadow:         0px 4px 33px 6px #000000;  
  position: relative;
  left:28%;
  background-color: #09f4ff;
  border-radius:8px;
  width:65%;
  padding: 10px 7px 10px 20px;
}

.center{
  position:fixed;
  top:45%;
  left:45%;
  color:black;
  background-color:white;
  width:25%;
  height:25%;
}